
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link href="~/adm/plugins/toastr/toastr.min.css" rel="stylesheet" />
<img class="mb-4" src="~/adm/img/bootstrap-logo.svg" alt="" width="72" height="57">
<h1 class="h3 mb-3 fw-normal">Sign Up</h1>
<label for="username" class="visually-hidden">Username</label>
<input type="text" id="username" class="form-control" placeholder="Username">
<label for="Email" class="visually-hidden">Email address</label>
<input type="email" id="email" class="form-control" placeholder="Email address">
<label for="phone" class="visually-hidden">Phone Number</label>
<input type="number" id="phone" class="form-control" placeholder="Phone Number">
<label for="Password" class="visually-hidden">Password</label>
<input type="password" id="password" class="form-control" placeholder="Password">
<label for="confirmPassword" class="visually-hidden">Password</label>
<input type="password" id="confirmPassword" class="form-control" placeholder="Repeat Password">

<button class="w-100 btn btn-lg btn-primary" type="submit" id="register" onclick="Register()">Sign Up</button>
<p class="align-content-center">
    <a href="/login" class="text-center"> Do you have an account? Login here.</a>
</p>
<p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>

@section scriptLogin{
    <script src="~/js/account.js"></script>
    <script src="~/adm/plugins/toastr/toastr.min.js"></script>
}

